<div class="offcanvas offcanvas-end" tabindex="-1" id="activityDialog">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Add Activity</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>


    <div class="offcanvas-body">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="name" required>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input #descriptionInput type="text" class="form-control" id="description" [(ngModel)]="description">
        </div>
        <button class="btn btn-primary" (click)="save()">Save </button>
    </div>
</div>